

.icon{
height: 60px;
width: 60px;
padding: 1%;
border: 15px;
background-color: #E5F5F5;
border-radius: 30px;
border-color: brown;
}

.icon :only-child{
  margin: auto;
  
}
.card-body{
  border-radius: 20px !important;
}

.card-title{
  padding-top: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 18rem;
  width: 18rem;
  margin-inline: 20px;
}
